/* @override http://80.177.183.196:3000/html/clutter/controls.css */

body{
	padding-top:41px;
	margin-left:0px;
	margin-right:0px;
	background-color: #e6e6e6;
}

.yui-dt2-col-actions {
	width:32px;
	text-align:center;
}


/*Table*/

#leftPanel{
	width:350px;
	clear: none;
	float: left;
}
#rightPanel{
	margin-left:350px;
	border-left: 2px ridge #808080;
}

#playlist table, #dynamicdata table{
	width:100%;
	font-size:10pt;
}

#yui-dt0-th-id, #yui-dt0-th-serverid {
width:0px;
}

#yui-dt0-th-artist {
		width: 33%;

}

#yui-dt0-th-title {
		width: 36%;

}

#yui-dt0-th-album {
		width: 33%;

}

/*Playlist actions*/

a.yuimenuitemlabel img {
	width:24px;
	border-style: none;
}



